:root{
    background-color: black;
    
    /* Text Proprieties */
    color: white;
}

div{
    margin-top: 40%;
    margin-bottom: 0%;

}

h1{
    font-size: 84px;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px;
}

h2{
    font-size: 32px;
    font-family: raleway;
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px;
    letter-spacing: 10px;
}

